@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

body {
    background-image:  url("../assets/images/fondodepantalla1.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: aliceblue;


    font-family: "UnifrakturMaguntia", cursive;
    font-weight: 400;
    font-style: normal;
}

.profile {
    width: 250px;
    height: 400px;
    border-radius: 75%;
}


section{
    background-color: rgba(168, 160, 216, 0.726);
    backdrop-filter: blur(20px);
    border-radius: 5%;
    margin: 24px auto;
    max-width: 900px;
    padding: 1.5rem;

}

.icons {
    list-style: none;
}

.icons li{
    display: inline-block;
    margin: 0 10px;
}

.icons img{
    width: 48px;
}





